<a href="https://colab.research.google.com/github/mobassir-salim/Data_Science/blob/main/20th_Aug'23_Python_basics_practice_test_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
str = input()
rev_str = str[::-1]

print(rev_str)

qwerty
ytrewq

2. Check if a string is a palindrome.

In [ ]:
 ## Taking input from the user

User_string = input("Enter the string ")

## Reversing the string

rev_str = User_string[::-1]

## Lower case

User_string_lower = User_string.lower()
rev_str_lower = rev_str.lower()

## checking if it is a palindrome

if rev_str_lower == User_string_lower:
  print(rev_str)
  print("The string is a palindrome.")

else:
  print("The string is not a palindrome.")

Enter the string ala
ala
The string is a palindrome.

3. Convert a string to uppercase.

In [ ]:
 ## Taking input from the user

user_string = input("Enter the string ")
str_upper = user_string.upper()

print(str_upper)

Enter the string jkgssgdyHUHUI
JKGSSGDYHUHUI

4. Convert a string to lowercase.

In [ ]:
 ## Taking input from the user

user_string4 = input("Enter the string ")
str_lower = user_string4.lower()

print(str_lower)

Enter the string D.JBJLDHSBCHSJG
d.jbjldhsbchsjg

5. Count the number of vowels in a string.

In [ ]:
 ## Taking input from the user

str5 = input("Enter the Sentence ")

str5 = str5.lower()

vowel = ['a', 'e', 'i', 'o', 'u']

vowel_count = 0

for i in str5:
  if i in vowel:
    vowel_count += 1

print("Number of vowels (a, e, i, o, u) in the string: ",vowel_count)

Enter the Sentence jhvvk
Number of vowels (a, e, i, o, u) in the string:  0

6. Count the number of consonants in a string.

In [ ]:
 ## Taking input from the user

str6 = input("Enter the Sentence ")

str6 = str6.lower()

Consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

cons_count = 0


for i in str6:
  if i in Consonants:
    cons_count += 1

print("Number of consonants in the string: ",cons_count)

Enter the Sentence Consonants
Number of consonants in the string:  7

7. Remove all whitespaces from a string.

In [ ]:
 ## Taking input from the user

user_string7 = input("Enter the string ")

## Removing the spaces

user_string7 = user_string7.replace(" ", "")

## Displaying the result

print(user_string7)

Enter the string dsjfg            liusgfesi                    gfuE
dsjfgliusgfesigfuE

8. Find the length of a string without using the `len()` function.

In [ ]:
 ## Taking input from the user

user_string8 = input("Enter the string ")

count = 0

for i in user_string8:
  count += 1


print("Length of the string without using the len() function: ", count)

Enter the string qwertyuiop
Length of the string without using the len() function:  10

9. Check if a string contains a specific word.

In [ ]:
def subStringCheck(str9, sub_str9):

# Making the strings case insensitive

  str9 = str9.lower() # Lower Case
  sub_str9 = sub_str9.lower() # Lower case

# Checking if the string contains the specific word!

  for i in range(0, len(str9)):
    if str9[i:i+len(sub_str9)] == sub_str9:
      return True
      break # Breaking the loop once it finds the first contained word
    else:
      return "String not found"

subStringCheck("Hi how are you Hi !", "hIhi")

'String not found'

10. Replace a word in a string with another word.

In [ ]:
string10 = "PhysicsWallahSkills"

rep_str = string10.replace("Physics", "Chemistry")

print(rep_str)

ChemistryWallahSkills

In [ ]:
def str_replace(s, r, n):
  # s : Original String
  # r : Substring to be replced
  # n : r to be replaced with
  return s.replace(r, n)

str_replace("PhysicsWallahSkills", "Physics", "Chemistry")

'ChemistryWallahSkills'

11. Count the occurrences of a word in a string.

In [ ]:
string11 = "abcdcdcdcab"
sub_string11 = "cdc"
Sub_str_len = len(sub_string11)

count = 0

for i in range(0, len(string11)):
  if string11[i:i+Sub_str_len] == sub_string11:
    count += 1

print(count)

3

12. Find the first occurrence of a word in a string.

In [ ]:
Str12 = "This is the Data Science Pro batch one!"

x = Str12.find("Data") # returns the index number as soon as it finds the string

# Displaying the Index
print("first occurrence of a word in a string (Index): " , x)

first occurrence of a word in a string (Index):  12

13. Find the last occurrence of a word in a string.

In [ ]:
Str13 = "This is the Data Science Pro batch one. The session of the Data Science batch is taken by Subh sir!"
sub_str13 = "Data"

str_occurrence = [] # storing the occurence of the word in list form

for i in range(0, len(Str13)):
  if Str13[i:i+len(sub_str13)] == sub_str13:
    str_occurrence.append(i + len(sub_str13)-1)


print("Indexes of no. of times the word found in the string: ", str_occurrence)

print("Index last occurrence of a word in a string: ", str_occurrence[-1])

Indexes of no. of times the word found in the string:  [15, 62]
last occurrence of a word in a string:  62

14. Split a string into a list of words.

In [ ]:
str14 = "This is the Data Science Pro batch one!"

separated_str14 = str14.split(" ") # separating the words from the String.

# Displaying the result

print(separated_str14)

['This', 'is', 'the', 'Data', 'Science', 'Pro', 'batch', 'one!']

15. Join a list of words into a string.

In [ ]:
words_list = ['This', 'is', 'the', 'Data', 'Science', 'Pro', 'batch', 'one!']

join_words = " ".join(words_list) # joining the words into string separated by space.

print(join_words)

This is the Data Science Pro batch one!

15. Alternative

In [ ]:
words_list15 = ['This', 'is', 'the', 'Data', 'Science', 'Pro', 'batch', 'one!']

join_words15 = ""

# Joining the words using the for loop

for i in words_list15:
  join_words15 = join_words15 + i + " "

# Displaying the result
print(join_words15[:-1])

This is the Data Science Pro batch one!

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
def underScoreSeparator(str16):
  return str16.replace(" ", "_")

underScoreSeparator("This is the Data Science Pro batch one!")

'This_is_the_Data_Science_Pro_batch_one!'

16. Alternative

In [ ]:
Str16 = "This is the Data Science Pro batch one!"

separated_str16 = Str16.split(" ") # separating the words from the String.

join_words16 = ""

for i in separated_str16:
  join_words16 = join_words16 + i + "_"

# Displaying the result

print(join_words16[:-1])

This_is_the_Data_Science_Pro_batch_one!

17. Check if a string starts with a specific word or phrase.

In [ ]:
def startsWith(str17, sub_str17):
  return str17.startswith(sub_str17)

startsWith("Hello, how are you?", "Hello")

True

18. Check if a string ends with a specific word or phrase.

In [ ]:
def endsWith(str18, sub_str18):
  return str18.endswith(sub_str18)

endsWith("Hello, how are you?", "?")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
Str19 = "hello word"

Capitalized_str19 = Str19.split(" ")
join_words19 = ""
for i in Capitalized_str19:
  i = i.capitalize()
  join_words19 += i + " "

print(join_words19[:-1])

Hello Word

Aternative 19

In [ ]:
input_str = "hello world"
title_case_str = input_str.title()
print(title_case_str)

Hello World

20. Find the longest word in a string.

In [ ]:
def max_str(str20):
  str20 = str20.split()
  word_count = []

  for i in str20:
    word_count.append(len(i))
  return str20[word_count.index(max(word_count))]

max_str("This is the Data ScienceProbatch one!")

'ScienceProbatch'

20. Alternative

In [ ]:
input_str20 = "This is the Data ScienceProbatch one!."

# Split the input string into words using spaces as delimiters
words = input_str20.split()

# Initialize variables to keep track of the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words and find the longest one
for word in words:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

# Print the longest word
print("Longest word:", longest_word)

Longest word: ScienceProbatch

21. Find the shortest word in a string.

In [ ]:
def min_word(str21):
  str21 = str21.split()
  min_word_count = []
  shortest_words = []

  # iterate through the words to find the indexes of the shortest words
  for i in str21:
    min_word_count.append(len(i))
  indexes = [index for index, value in enumerate(min_word_count) if value == min(min_word_count)]
  print( "The indexes of shortest word(s) is/are: " , indexes)

  # iterate through
  for j in indexes:
    shortest_words.append(str21[j])

  print("The shortest word(s) is/are: " ,shortest_words)
min_word("This is the Data Science Pro batch one!. The lectures are taken by Shubh sir op")

The indexes of shortest word(s) is/are:  [1, 12, 15]
The shortest word(s) is/are:  ['is', 'by', 'op']

22. Reverse the order of words in a string.

In [ ]:
def reverse_str(str22):
  return str22[::-1]

reverse_str("Hello")

'olleH'

23. Check if a string is alphanumeric.

In [ ]:
input_str23 = "!@#"

if input_str23.isalnum():

    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is not alphanumeric.

24. Extract all digits from a string.

In [ ]:
def digits_extractor(str24):

  # Initialize an empty string to store the extracted digits
  digits = ""

  # Iterate through each character in the input string
  for char in str24:
    if char.isdigit():
      digits += char

  print (f"Extracted digits are {extracted_digits}")

digits_extractor("Hello2023!hi2024")

Extracted digits are 20232024

24. Alternative

In [ ]:
import re

input_str24 = "Hello2023!hi2024"

# Use regular expression to find all digits
digits = re.findall(r'\d', input_str24)

# Join the digits into a single string if needed
extracted_digits = ''.join(digits)

# Print the extracted digits
print(f"Extracted digits are {extracted_digits}")

Extracted digits are 20232024

25. Extract all alphabets from a string.

In [ ]:
def alpha_extractor(str25):

  # Initialize an empty string to store the extracted digits
  alphabets = ""

  # Iterate through each character in the input string
  for char in str25:
    if char.isalpha():
      alphabets += char

  print (f"Extracted digits are {alphabets}")

alpha_extractor("Hello2023!hi2024")

Extracted digits are Hellohi

26. Count the number of uppercase letters in a string.

In [ ]:
def uppercase_counter(str26):

  # Initialize the counter
  counter = 0

  # Iterate through each character in the input string
  for i in str26:
    if i.isupper():
      counter += 1

  # Displaying the result
  print(f"The number of uppercase letters in the string are {counter}.")

uppercase_counter("HelLo2023HOwAreYou!")

The number of uppercase letters in the string are 6.

27. Count the number of lowercase letters in a string.

In [ ]:
def lowercase_counter(str27):

  # Initialize the counter
  low_counter = 0

  # Iterate through each character in the input string
  for i in str27:
    if i.islower():
      low_counter += 1

  # Displaying the result
  print(f"The number of lowercase letters in the string are {low_counter}.")

lowercase_counter("HelLo2023HOwAreYou!")

The number of uppercase letters in the string are 8.

28. Swap the case of each character in a string.

In [ ]:
str28 = "HelLo2023HOwAreYou!"

# Swapping the case
x = str28.swapcase()

# Displaying the result
print(x)

hELlO2023hoWaREyOU!

28. Alternative

In [ ]:
user_str28 = "HelLo2023HOwAreYou!"

# initializing the empty list to store the characters
x = []

for i in user_str28:
  if i.isupper():
    x.append(i.lower())

  else:
    x.append(i.upper())

# Joining the characters
y = ''.join(x)

# Displaying the result
print(y)

hELlO2023hoWaREyOU!

29. Remove a specific word from a string.

In [ ]:
def word_remover(str29, word_rem):
  return str29.replace(word_rem, '')

word_remover("Hello How Are You!", 'e')

'Hllo How Ar You!'

30. Check if a string is a valid email address.

In [ ]:

def is_valid_email(email):
    # Check for the "@" symbol
    if "@" not in email:
        return False

    # Split the email address into username and domain parts
    username, domain = email.split("@")

    # Check if the username and domain are not empty
    if not username or not domain:
        return False

    # Check for valid characters in the username and domain
    valid_username_chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789._"
    valid_domain_chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.-"


     # Check for valid characters in the username and domain

    for i in username:
      if i not in valid_username_chars:
        return False

    for i in domain:
      if i not in valid_domain_chars:
        return False

    # Check for at least one period (.) in the domain part
    if "." not in domain:
        return False

     # check the
    last_dot_index = domain.rfind(".")
    if len(domain) - last_dot_index -1 > 3:
        return False

    return True

# Test cases
email1 = "user@example.com"
email2 = "@invalid-email"
email3 = "no@ats.ign.com"

print("Email 1 is valid:", is_valid_email(email1))
print("Email 2 is valid:", is_valid_email(email2))
print("Email 3 is valid:", is_valid_email(email3))

Email 1 is valid: True
Email 2 is valid: False
Email 3 is valid: True

31. Extract the username from an email address string.

In [ ]:
## this code for extracting username can be applied after checking the validity of an email from above code

def username(email31):
  username31, domain31 = email31.split("@")
  return username31

mail = "user_name@example.com"

print("Username: ", username(mail))

Username:  user_name

32. Extract the domain name from an email address string.

In [ ]:
## this code for extracting domainname can be applied after checking the validity of an email from above code

def domain(email32):
  username32, domain32 = email32.split("@")
  return domain32

mail = "user_name@example.com"

print("Username: ", domain(mail))

Username:  example.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
multi_space_str = "This    is    a    string    with   multiple   spaces."

## stimming the starting and trailing spaces
strip_multi_space_str = multi_space_str.strip()

# Initiating a while loop to replace the multi-spaces with single spaces

a = 1
while a < len(multi_space_str):

  strip_multi_space_str = strip_multi_space_str.replace("  ", " ")
  a += 1

## Displaying the result

print(strip_multi_space_str)

This is a string with multiple spaces.

34. Check if a string is a valid URL.

![image.png]()

In [ ]:
def is_valid_url(url):
    # Check if the URL starts with a valid scheme
    valid_schemes = ["http://", "https://"]
    for i in valid_schemes:
        if url.startswith(i):
            # Remove the scheme part
            url = url[len(i):]
            break
    else:
        # No valid scheme found
      return False

    # Check if the remaining URL contains valid characters
    valid_chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._~:/?#[]@!$&'()*+,;="
    for i in url:
      if i not in valid_chars:
        return False

    #return True



    return True

# Test cases
url1 = "https://www.example.com"
url2 = "invalid-url"
url3 = "ftp://ftp.example.com"
url4 = "http://"
url5 = "https://www.example.com/"

print("URL 1 is valid:", is_valid_url(url1))
print("URL 2 is valid:", is_valid_url(url2))
print("URL 3 is valid:", is_valid_url(url3))
print("URL 4 is valid:", is_valid_url(url4))
print("URL 5 is valid:", is_valid_url(url5))

URL 1 is valid: True
URL 2 is valid: False
URL 3 is valid: False
URL 4 is valid: True
URL 5 is valid: True

35. Extract the protocol (http or https) from a URL string.

In [ ]:
# check if the URL is valid or not from above code

def scheme_scrap(valid_url):
  val_schemes = ["http://", "https://"]
  for i in val_schemes:
    if valid_url.startswith(i):
      scheme = valid_url[:len(i)-3]
      return scheme
  #return "Not a valid email"
val_url1 = "https://www.example.com"
val_url2 = "http://www.google.com"
val_url3 = "ftp://ftp.example.com"

print(scheme_scrap(val_url1))
print(scheme_scrap(val_url2))
print(scheme_scrap(val_url3))

https
http
None

36. Find the frequency of each character in a string.

In [ ]:
def char_frequency(str36, char):
  return str36.count(char)

str36 = "Hello everyone! How are you! This is Data Science Pro Batch"
char = "e"

print(f'The frequency of the Character {char} is: ', char_frequency(str36, char))

The frequency of the Character e is:  7

37. Remove all punctuation from a string.

In [ ]:
punctuation = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"

str37 = "Hello everyone!, How are you? all good, This is Data Science Pro Batch."

# checking and removing the puncuations
for i in str37:
  if i in punctuation:
    str37 = str37.replace(i, "")

## Displaying the result after removing the punctuations
print(str37)

Hello everyone How are you all good This is Data Science Pro Batch

37. Alternative

In [ ]:
import string
# Storing the sets of punctuation in variable result
result = string.punctuation
str37a = "Hello everyone!, How are you? all good, This is Data Science Pro Batch."

# checking and removing the puncuations
for i in str37a:
  if i in result:
    str37a = str37a.replace(i, "")

## Displaying the result after removing the punctuations
print(str37a)

Hello everyone How are you all good This is Data Science Pro Batch

38. Check if a string contains only digits.

In [ ]:
def all_digit_str(str38):
  return str38.isdigit()
## test cases

test1 = "1234567890"
test2 = "qwertyuiop"
test3 = "abcdef123456"
print(all_digit_str(test1))
print(all_digit_str(test2))
print(all_digit_str(test3))

True
False
False

39. Check if a string contains only alphabets.

In [ ]:
def all_alpha_str(str39):
  return str39.isalpha()
## test cases

test1 = "1234567890"
test2 = "qwertyuiop"
test3 = "abcdef123456"
print(all_alpha_str(test1))
print(all_alpha_str(test2))
print(all_alpha_str(test3))

False
True
False

40. Convert a string to a list of characters.

In [ ]:
str40 = "Hello World!"

# Removing the spaces
str40 = str40.replace(" ", "")

# initialising the empty list to store the characters
char_list = []
for i in str40:
  char_list.append(i)
#str40 = str40.split()

# removing the repetition of characters
x = set(char_list)
print(x)

{'e', 'o', 'r', 'H', 'l', 'd', '!', 'W'}

41. Check if two strings are anagrams.

In [ ]:
def is_anagram(word1, word2):

  if sorted(word1) == sorted(word2):
    print(f'The word {word1} and {word2} are anagrams.')

  else:
    print(f'The word {word1} and {word2} are not anagrams.')

## test Cases
word1 = "listen"
word2 = "silent"

w1 = "gram"
w2 = "arm"

is_anagram(word1, word2)
is_anagram(w1, w2)

The word listen and silent are anagrams.
The word gram and arm are not anagrams.

42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            encrypted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                encrypted_char = encrypted_char.upper()
            encrypted_text += encrypted_char
        else:
            encrypted_text += char
    return encrypted_text

# Example usage:
text = "Hello, World!"
shift = 3

encrypted_text = caesar_cipher_encrypt(text, shift)

print("Original text:", text)
print("Encrypted text:", encrypted_text)

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decrypt(text, shift):
    decrypted_text = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            decrypted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                decrypted_char = decrypted_char.upper()
            decrypted_text += decrypted_char
        else:
            decrypted_text += char
    return decrypted_text

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift = 3

decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)

print("Encrypted text:", encrypted_text)
print("Decrypted text:", decrypted_text)

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

44. Find the most frequent word in a string.

In [ ]:
from collections import Counter
import re

def most_frequent_words(text):
    # Remove punctuation and convert to lowercase
    text = re.sub(r'[^\w\s]', '', text).lower()

    # Split the text into words
    words = text.split()

    # Count the occurrences of each word
    word_counts = Counter(words)

    # Find the highest count
    highest_count = max(word_counts.values())

    # Find all words with the highest count
    most_common_words = [word for word, count in word_counts.items() if count == highest_count]

    return most_common_words, highest_count

# Example usage:
text = "This is a sample text. This text contains some words. This is a simple example with multiple common words is"

most_common_words, count = most_frequent_words(text)

print("Most frequent words:", most_common_words)
print("Count:", count)

Most frequent words: ['this', 'is']
Count: 3

45. Find all unique words in a string.

In [ ]:
import re

def unique_word(str45):
    # Remove punctuation and convert to lowercase
    str45 = re.sub(r'[^\w\s]', '', str45).lower()
    # Split the text into words
    str45 = str45.split()
    str45 = set(str45)
    return list(str45)

# Example usage:
x = "This is a sample text. This text contains some words. This is a simple example with multiple common words is."
print(unique_word(x))

['words', 'contains', 'common', 'this', 'text', 'some', 'is', 'simple', 'example', 'sample', 'with', 'a', 'multiple']

46. Count the number of syllables in a string.

In [ ]:
def count_syllables(word):
    # Remove non-alphabetic characters and convert to lowercase
    word = ''.join(filter(str.isalpha, word)).lower()

    if len(word) <= 3:
        return 1  # Short words often have 1 syllable

    vowels = "aeiouy"
    count = 0
    prev_char = None

    for char in word:
        if prev_char is not None and char in vowels and prev_char not in vowels:
            count += 1
        prev_char = char

    # Adjust for some common word endings
    if word.endswith("e"):
        count -= 1
    if word.endswith("le") and len(word) > 2:
        count += 1

    # Ensure at least 1 syllable
    return max(count, 1)

def count_syllables_in_text(text):
    words = text.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage:
text1 = "Hello"
text2 = "Cat"
text3 = "syllables"

syllable_count1 = count_syllables_in_text(text1)
syllable_count2 = count_syllables_in_text(text2)
syllable_count3 = count_syllables_in_text(text3)

print("Total syllables in the text1:", syllable_count1)
print("Total syllables in the text2:", syllable_count2)
print("Total syllables in the text3:", syllable_count3)

Total syllables in the text1: 2
Total syllables in the text2: 1
Total syllables in the text3: 3

47. Check if a string contains any special characters.

In [ ]:
import string

def punct_check(str47):
  punctuation47 = string.punctuation
  for i in str47:
    if i in punctuation47:
      return True

  return False



# Test cases
str47a = "hi How are you all"
str47b = "hi!, How are you all?"

print(punct_check(str47a))
print(punct_check(str47b))

False
True

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(str48, n):
    # Split the string into words
    words = str48.split()

    # Handling the exception
    if  n > len(str48) or n <= 0:
      return str48

    # Remove the nth word
    del words[n-1]
    result_string = ' '.join(words)
    return result_string

# Example usage:
str48 = "This is an example sentence to remove the nth word."
n = 10  # Remove the 3rd word

result = remove_nth_word(str48, n)

print("Original string:", str48)
print("String with nth word removed:", result)

Original string: This is an example sentence to remove the nth word.
String with nth word removed: This is an example sentence to remove the nth

49. Insert a word at the nth position in a string.

In [ ]:
def insert_nth_position(str49, n, word):

  if  n > len(str49) or n <= 0:
      return str49

  list_of_words = str49.split()
  list_of_words.insert(n-1, word)
  insert_word_result = ' '.join(list_of_words)
  return insert_word_result

  # Example usage:
str49 = "This is an example sentence to insert the nth word."
n = 10  # Remove the 3rd word
word = "from"
result = insert_nth_position(str49, n, word)
print("Original String: ", str49)
print("String after the insertion of word at nth place; ", result)

Original String:  This is an example sentence to insert the nth word.
String after the insertion of word at nth place;  This is an example sentence to insert the nth from word.

50. Convert a CSV string to a list of lists.

Not my code. Took the help from Google.

In [ ]:
import csv
import io

def csv_string_to_list(csv_string):
    # Create an in-memory file-like object from the CSV string
    csv_file = io.StringIO(csv_string)

    # Initialize a CSV reader
    csv_reader = csv.reader(csv_file)

    # Convert the CSV data to a list of lists
    data = [row for row in csv_reader]

    return data

# Example usage:
csv_string = """Name,Age,Location
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,Chicago
"""

csv_data = csv_string_to_list(csv_string)

# Print the result
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']

#List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function.

In [ ]:
list_length = sum(1 for _ in my_list)
print(list_length)

10

2. Alternate Solution

In [ ]:
count = 0
for i in my_list:
  count += 1

print(count)

10

3. Append an element to the end of a list.

In [ ]:
my_list.append(11)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [ ]:
my_list.insert(5, 12)  # Insert 12 at index 5
print(my_list)

[1, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [ ]:
my_list.remove(5)  # Remove the first occurrence of 5
print(my_list)

[1, 2, 3, 4, 12, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [ ]:
del my_list[3]  # Remove the element at index 3
print(my_list)

[1, 2, 3, 12, 6, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [ ]:
element_exists = 5 in my_list  # Returns True if 5 exists in the list
print(element_exists)

False

8. Find the index of the first occurrence of an element in a list.

In [ ]:
element_index = my_list.index(7)  # Returns the index of the first occurrence of 7
print(element_index)

5

9. Count the occurrences of an element in a list.

In [ ]:
element_count = my_list.count(3)  # Count the occurrences of 3 in the list
print(element_count)

1

10. Reverse the order of elements in a list.

In [ ]:
my_list.reverse()
print(my_list)

[11, 10, 9, 8, 7, 6, 12, 3, 2, 1]

In [ ]:
reverse_list = my_list[::-1]
print(reverse_list)

[1, 2, 3, 12, 6, 7, 8, 9, 10, 11]

11. Sort a list in ascending order.

In [ ]:
my_list.sort()
print(my_list)

[1, 2, 3, 6, 7, 8, 9, 10, 11, 12]

12. Sort a list in descending order.

In [ ]:
my_list.sort(reverse=True)
print(my_list)

[12, 11, 10, 9, 8, 7, 6, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
even_num_list = [i for i in range(1, 21) if i%2 == 0]
print(even_num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_num_list = [i for i in range(1, 21) if i%2 != 0]
print(odd_num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
sum_list = sum(my_list)
print(sum_list)

69

16. Find the maximum value in a list.

In [ ]:
max_value_list = max(my_list)
print(max_value_list)

12

16. Alt Solution

In [ ]:
max_value = 0
for i in my_list:
  if i > max_value:
    max_value = i
print(max_value)

12

17. Find the minimum value in a list.

In [ ]:
min_value_list = min(my_list)
print(min_value_list)

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
sqr_value_list = [i**2 for i in range(1, 11)]
print(sqr_value_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random

random_numbers = [random.randint(1, 100) for i in range(10)]
print(random_numbers)

[51, 55, 50, 22, 84, 1, 97, 1, 83, 77]

20. Remove duplicates from a list.

In [ ]:
remove_duplicates = list(set(my_list))
print(remove_duplicates)

[1, 2, 3, 6, 7, 8, 9, 10, 11, 12]

21. Find the common elements between two lists.

In [ ]:
com_list1 = [1, 2, 5, 11, 14, 20, 25]
com_list2 = [3, 7, 11, 13, 14, 21, 25]
common_element_list = []
for i in com_list1:
  if i in com_list2:
    common_element_list.append(i)
print(common_element_list)

[11, 14, 25]

21. Alt Sol

In [ ]:
com_list1 = [1, 2, 5, 11, 14, 20, 25]
com_list2 = [3, 7, 11, 13, 14, 21, 25]
common_element_list = [i for i in com_list1 if i in com_list2]
print(common_element_list)

[11, 14, 25]

22. Find the difference between two lists.

In [ ]:
com_list1 = [1, 2, 5, 11, 14, 20, 25]
com_list2 = [3, 7, 11, 13, 14, 21, 25]
diff_element_list1 = [i for i in com_list1 if i not in com_list2]
diff_element_list2 = [i for i in com_list2 if i not in com_list1]
print(diff_element_list1 + diff_element_list2)

[1, 2, 5, 20, 3, 7, 13, 21]

23. Merge two lists.

In [ ]:
merge_list = com_list1 + com_list2
print(merge_list)

[1, 2, 5, 11, 14, 20, 25, 3, 7, 11, 13, 14, 21, 25]

24. Multiply all elements in a list by 2.

In [ ]:
multiply_by_2_list = [i*2 for i in my_list]
print(multiply_by_2_list)

[24, 22, 20, 18, 16, 14, 12, 6, 4, 2]

25. Filter out all even numbers from a list.

In [ ]:
filter_my_list = [i for i in my_list if i % 2 != 0]
print(filter_my_list)

[11, 9, 7, 3, 1]

25. Alternative Solution

In [ ]:
my_list = list(range(1, 11))
print(my_list)
filter_out_even = list(filter(lambda x : x%2!=0, my_list))
filter_out_even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [ ]:
my_list1 = ['1', '2', '3', '4', '5']
my_list_int = [int(i) for i in my_list1]
print(my_list_int)
type(my_list_int[0])

[1, 2, 3, 4, 5]

int

27. Convert a list of integers to a list of strings.

In [ ]:
my_list_str = [str(i) for i in my_list_int]
print(my_list_str)
type(my_list_str[0])

['1', '2', '3', '4', '5']

str

28. Flatten a nested list.

In [ ]:
nested_list = [[1,2,3], [5,6,7], [8,9,10]]
flattten_nested_list = [j for i in nested_list for j in i]
print(flattten_nested_list)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
a = 0
b = 1
x = [0, 1]
for i in range(0, 4):
  a = a + b
  x.append(a)
  b = a + b
  x.append(b)
  #if len(x) == 10:
   # break

print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

29. Alt Sol1

In [ ]:
import math
def fibonacci(n):
  x = math.ceil((n-2)/2)
  p = 0
  q = 1
  fib_list = [0, 1]
  for i in range(0, x):
    p = p+q
    fib_list.append(p)
    q = p+q
    fib_list.append(q)

  if n%2!=0:
    return fib_list[:len(fib_list)-1]

  else:
    return fib_list

## Cases

print(fibonacci(10))
print(fibonacci(9))
print(fibonacci(11))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

29. Alt Sol2

In [ ]:
# Initialize the first two Fibonacci numbers
fibonacci = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fib = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_fib)

# Print the list of Fibonacci numbers
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
def is_sorted(list):
    n = len(list)
    for i in range(n - 1):
        if list[i] > list[i + 1]:
            return False
    return True

# Example usage:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

print(is_sorted(sorted_list))
print(is_sorted(unsorted_list))

True
False

31. Rotate a list to the left by `n` positions.

In [ ]:
##EXAMPLE
lst = [1, 4, 6, 7, 2]

# rotated by 3 using slicing
left_rotated_lst = lst[3:] + lst[:3]

print(left_rotated_lst)

[7, 2, 1, 4, 6]

In [ ]:
## Actual Solution

def left_rotate(lst, n):
    # Check if the list is empty or if n is greater than the length of the list
    if not lst or n <= 0:
        return lst

    # Perform the left rotation using slicing
    rotated_list = lst[n:] + lst[:n]

    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
rotated = left_rotate(my_list, 3)
print(rotated)

[4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [ ]:
## Actual Solution

def right_rotate(lst, n):
    # Check if the list is empty or if n is greater than the length of the list
    if not lst or n <= 0:
        return lst

    # Perform the left rotation using slicing
    rotated_list = lst[-n:] + lst[:-n]

    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
rotated = right_rotate(my_list, 3)
print(rotated)

[3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(n):
  for in range(2, (n/2)+)